*{
    margin: 0;
    padding: 0;
}

.box{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.9),
                        rgba(0,0,0,0.9)), 
                        url(/images/images.jpeg);
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-repeat: no-repeat;
}
.logo{
    font-size: 30px;
    color: #fff;
}
.logo span{
    color: orangered;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav ul li a:hover{
    color: orangered;
    transition: 0.5s;
}
nav button{
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background-color: orangered ;
}
nav button:hover{
    background-color: #fff;
    color:black;
    transition: 0.5s;
    cursor: pointer;
}
.banner-text{
    color: white;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    transition: 0.5s;
    text-transform: uppercase;
}
.banner-text span{
    color: orangered;
}
.banner-text p{
    font-size: 25px;
}